@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme:light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes shadow-pop {

    0% {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    }

    100% {
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1),
            -6px -6px 8px rgba(255, 255, 255, 1),
            inset 0 0 0 1px #eaeaeaff;
    }
}


/* Initial state (before animation) */
/* Initial state */
.neumorphic {
    opacity: 0;
    /* transform: translateY(25%); */
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    transition:
        opacity 600ms ease,
        transform 700ms ease;
    /* don't transition box-shadow here */
}

/* When in view */
.animated-neumorphism {
    opacity: 1;
    /* transform: translateY(0); */
    animation: shadow-pop 600ms ease forwards;
    animation-delay: 600ms;
    /* starts after fade/slide */
}

@keyframes floatUpDown {
  0%   { transform: translate(-50%, -50%) translateY(0px); }
  50%  { transform: translate(-50%, -50%) translateY(-10px); }
  100% { transform: translate(-50%, -50%) translateY(0px); }
}